<section class="todoapp" *ngIf="data">
  <app-todo-list-header></app-todo-list-header>
  <app-filters
    (searchTermChanged)="onSearchTermChanged($event)"
    (toggleShowCompletedTodos)="onToggleShowCompletedTodos()"
    (toggleShowIncompleteTodos)="onToggleShowIncompleteTodos()"
  ></app-filters>
  <app-new-todo (add)="onAddTodo($event)"></app-new-todo>
  <app-todo-list
    [data]="data"
    (toggleIsComplete)="onToggleTodoIsComplete($event)"
    (delete)="onDeleteTodo($event)"
    (editTodoDescription)="onEditTodoDescription($event)"
  ></app-todo-list>
  <app-todo-list-footer
    (reloadTable)="loadTodos($event.pageIndex, $event.pageSize)"
    [data]="data"
  ></app-todo-list-footer>
</section>
