<div class="list-item">
  <div class="left">
    <mat-checkbox
      class="checkbox"
      color="primary"
      [checked]="todo.isComplete"
      (click)="onToggleIsComplete()"
    ></mat-checkbox>
    <div>
      <form *ngIf="isEditing; else label" [formGroup]="form">
        <mat-form-field>
          <input
            matInput
            (keyup.enter)="onEditTodoDescription()"
            formControlName="description"
            appFocus
          />
          <mat-error *ngIf="form.controls.description.errors?.required"
            >Description is required</mat-error
          >
        </mat-form-field>
      </form>
    </div>

    <ng-template #label>
      <label [class.complete]="todo.isComplete">{{ todo.description }}</label>
    </ng-template>
  </div>
  <div class="right">
    <button
      class="save"
      *ngIf="isEditing"
      (click)="onEditTodoDescription()"
    ></button>
    <button
      class="edit"
      *ngIf="!isEditing"
      (click)="toggleIsEditing()"
    ></button>
    <button class="destroy" (click)="deleteTodo()"></button>
  </div>
</div>
